@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

// Variables

:root {
  --background-color: #f6f7fb;

  --text-color: #999;

  --border-color-fill: #3498db;
  --border-color-empty: #e0e0e0;
}

// general styles
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  box-sizing: border-box;
  font-family: "Muli", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  font-size: 1.6rem;
  color: var(--text-color);

  @media (max-width: 56em) {
    width: 100vw;
  }

  .progress-container {
    display: flex;

    height: 3rem;
    width: 30.5rem;
    max-width: 100%;

    align-items: flex-end;
    justify-content: space-between;

    position: relative;

    &::before {
      content: "";
      height: 3px;
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: var(--border-color-empty);
      z-index: -1;
    }

    .progress {
      position: absolute;
      background-color: var(--border-color-fill);
      height: 3px;
      width: 0;
      top: 50%;
      left: 0;
      z-index: 1;
      transition: 0.5s ease-in-out;
    }

    .circle {
      width: 3.1rem;
      text-align: center;
      border: 3px solid var(--border-color-empty);
      height: 3.1rem;
      border-radius: 100rem;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: var(--background-color);

      z-index: 1;
      transition: 0.5s 0.1s ease-in-out;

      &.active {
        border: 3px solid var(--border-color-fill);
      }
    }
  }

  .cta {
    flex: 0 0 10%;
    display: flex;
    width: 267px;
    justify-content: space-evenly;
    align-items: center;

    .btn {
      padding: 1rem 4rem;
      border: none;
      color: white;
      font-size: 1.4rem;
      border-radius: 6px;
      cursor: pointer;
      background-color: var(--border-color-fill);
      transition: background-color 0.5s ease-in-out;

      &:disabled {
        background-color: var(--border-color-empty);
        cursor: not-allowed;
      }
    }
  }
}
