@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
:root {
  --background-color: #f6f7fb;
  --text-color: #999;
  --border-color-fill: #3498db;
  --border-color-empty: #e0e0e0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  background-color: var(--background-color);
  box-sizing: border-box;
  font-family: 'Muli', sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 1.6rem;
  color: var(--text-color); }
  @media (max-width: 56em) {
    .container {
      width: 100vw; } }
  .container .progress-container {
    display: flex;
    height: 3rem;
    width: 30.5rem;
    max-width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    position: relative; }
    .container .progress-container .progress {
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: var(--border-color-empty);
      top: 50%;
      left: 0;
      z-index: 0; }
      .container .progress-container .progress::after {
        content: '';
        height: 3px;
        width: 50%;
        position: absolute;
        background-color: var(--border-color-fill); }
    .container .progress-container .circle {
      width: 3.1rem;
      text-align: center;
      border: 3px solid var(--border-color-empty);
      height: 3.1rem;
      border-radius: 100rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--background-color);
      z-index: 1; }
      .container .progress-container .circle.active {
        border: 3px solid var(--border-color-fill); }
  .container .cta {
    flex: 0 0 50%; }
